/* On definit les styles de base et les variables css pour les couleurs et fonts */

:root {
    --clr-bg: #2c3f59;
    --clr-acc: #f2b035;
    --clr-txt: #fff;
    --ft-title: 'Open Sans', sans-serif;
    --ft-txt: 'Montserrat', sans-serif;
    line-height: 1.6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: var(--ft-txt);
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: var(--ft-title);
    color: var(--clr-bg) !important;
}

h1 {
    margin-top: 5rem;
    font-size: 4rem;
    text-align: center;
}

.btn-perso {
    margin: 0 !important;
    background: var(--clr-acc);
    border: none;
    transition: transform 250ms ease;
    padding: .5rem 1.5rem;
    color: #000;
    font-size: .9rem;
    transition: transform 250ms ease;
    cursor: pointer;
    font-family: var(--ft-txt);
}

.btn-perso:hover, .btn-perso:focus {
    transform: scale(0.9, 0.9);
}

/* Permet d'effacer la outline presente sur Firefox */

:-moz-focusring {
    outline: none;
}

/* Menu de navigation */

nav {
    position: sticky;
    z-index: 3;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .6rem;
    background-color: var(--clr-bg);
    color: var(--clr-txt);
}

.menu_burger {
    display: none;
}

nav li {
    color: var(--clr-txt);
    margin: 0 1rem;
}

nav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    position: relative;
    color: var(--clr-txt);
}

nav ul a:not(.logo, .lang-button)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1.5px;
    background: var(--clr-txt);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 250ms ease-in;
}

nav ul a:hover::after, nav ul a:focus::after {
    transform: scaleX(1);
    outline: none;
}

#logo {
    margin: 10px;
}

.lang-button:first-of-type {
    border-bottom: 1px solid #fff;
}

@media screen and (max-width: 800px) {
    .menu_burger {
        min-width: 35px;
        height: 40px;
        cursor: pointer;
        position: relative;
        display: block;
    }
    nav ul {
        display: none;
    }
    .menu_burger span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 4px;
        transition: background-color 0.5s ease-in-out;
    }
    .menu_burger span:before, .menu_burger span:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 4px;
        transition: transform 0.5s ease-in-out;
    }
    .menu_burger span:before {
        transform: translateY(-10px);
    }
    .menu_burger span:after {
        transform: translateY(10px);
    }
    .menu_burger.menu_burger_active span {
        background-color: transparent;
    }
    .menu_burger.menu_burger_active span:before {
        transform: translateY(0px) rotateZ(45deg);
    }
    .menu_burger.menu_burger_active span:after {
        transform: translateY(0px) rotateZ(-45deg);
    }
    .contenu_active {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 76.2px;
        left: 0;
        background: var(--clr-bg);
    }
    .contenu_active li {
        margin: 1rem 0;
    }
    nav>span {
        /* display: none; */
        font-size: 1.3rem;
        position: relative;
    }
    nav ul a {
        font-size: 1.3rem;
    }
    nav ul a:hover::after, nav ul a:focus::after {
        transform: scaleX(0);
        outline: none;
    }
}

/* Slideshow */

#slideshow {
    width: 100%;
    height: calc(100vh - 76.2px);
    max-width: 100vw;
    overflow-x: hidden;
}

#slideshow button {
    width: 15rem;
    font-size: 1.2rem;
    position: absolute;
    top: 90%;
    left: calc(50% - 7.5rem);
}

.slideshow-img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: relative;
    animation: animateright 2s;
}

@keyframes animateright {
    from {
        right: -100vw;
    }
    to {
        right: 0;
    }
}

/* Presentation */

#presentation {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 0;
    align-items: center;
}

#presentation h2 {
    font-size: 3rem;
    text-align: center;
}

#presentation h2 span abbr {
    font-style: italic;
    font-family: var(--ft-title);
}

.pres_article {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.pres_article:nth-child(2n+1) {
    flex-direction: row-reverse;
    margin: 5rem 0;
    transform: translateY(-7rem);
    z-index: 2;
}

.pres_article:first-of-type {
    margin-top: 5rem;
}

.pres_article:last-of-type {
    transform: translateY(-14rem);
}

.pres_article p {
    width: 55%;
}

.pres_article img {
    width: 40%;
}

#CTA button {
    width: 15rem;
    font-size: 1.2rem;
}

#CTA {
    transform: translateY(-7rem);
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .pres_article:nth-child(2n+1) {
        transform: translateY(0);
    }
    .pres_article:last-of-type {
        transform: translateY(0);
    }
    #CTA {
        transform: translateY(0);
        margin: 5rem 0;
    }
}

@media screen and (min-width: 800px) and (max-width: 1300px) {
    .pres_article {
        flex-direction: column-reverse;
        width: 100%;
    }
    .pres_article:nth-child(2n+1) {
        flex-direction: column-reverse;
        transform: translateY(0);
    }
    .pres_article:last-of-type {
        transform: translateY(0);
    }
    .pres_article img {
        width: 65%;
    }
    .pres_article p {
        width: 60%;
        margin: 1.5rem 0;
    }
    #CTA {
        transform: translateY(0);
        margin: 5rem 0;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 3rem;
    }
    #presentation h2 {
        font-size: 2.3rem;
    }
    .pres_article {
        flex-direction: column-reverse;
        width: 100%;
    }
    .pres_article:nth-child(2n+1) {
        flex-direction: column-reverse;
        transform: translateY(0);
    }
    .pres_article:last-of-type {
        transform: translateY(0);
    }
    .pres_article img {
        width: 95%;
    }
    .pres_article p {
        width: 90%;
        margin: 1.5rem 0;
    }
    #CTA {
        transform: translateY(0);
        margin: 5rem 0;
    }
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #2c3f59;
    color: var(--clr-txt);
}

footer img {
    width: 1.5rem;
}

/* Partie haute du footer (informations et reseaux sociaux) */

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    height: 13rem;
}

.top-section h2, .top-section h3 {
    margin-bottom: 1rem;
    color: #fff !important;
}

/* Informations */

.infos-footer {
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
    border-right: 1px solid var(--clr-txt);
    width: 25%;
    height: 100%;
}

/* Formulaire Newsletter */

.infos-footer form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.infos-footer form div {
    display: flex;
    flex-direction: row;
}

#newsletter-input {
    margin: 0 1rem 0 0;
    border: 1px solid #fff;
    font-size: .9rem;
    padding: 0 .4rem;
    width: 100%;
}

:required {
    box-shadow: none;
}

/* Reseaux sociaux */

.social-media {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    border-left: 1px var(--clr-txt) solid;
    width: 25%;
    height: 100%;
}

.social-media li a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.social-media li img {
    margin-right: 1rem;
    transition: transform 150ms ease;
}

.social-media li img:hover, .social-media li img:focus {
    transform: scale(1.2, 1.2);
}

/* On applique une marge en bas a tout les elements de la section haute du footer sauf: div, h2, ul, form */

.top-section *:not(div, h2, ul, form) {
    margin-bottom: .4rem;
}

/* Partie basse du footer (mentions legales, CGV) */

.bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0;
}

.bottom-section>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bottom-section li {
    width: 40%;
    text-align: center;
}

.bottom-section>* {
    width: 40%;
    text-align: center;
}

.bottom-section .center {
    width: 20%;
}

/* Bouton pour remonter en haut de la page */

a[href="#menu-navigation"] img {
    filter: invert(100%);
    transition: transform 250ms ease;
    transform-origin: bottom;
}

a[href="#menu-navigation"] img:hover, a[href="#menu-navigation"] img:focus {
    transform: translateY(-.3rem);
    transform-origin: top;
}

/* Bordure annimée sur les liens */

footer a>span {
    position: relative;
    color: var(--clr-txt);
}

footer a>span:not(.btn-remonter)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1.5px;
    background: var(--clr-txt);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

footer a>span:hover:not(.btn-remonter)::after, footer a:focus:not(.btn-remonter)::after {
    transform: scaleX(1);
    transform-origin: left;
    outline: none;
}

/* Medias queries pour differentes tailles d'ecran */

/* Pour les tailles intermediaires */

@media screen and (max-width: 1300px) {
    .infos-footer form div {
        flex-direction: column;
    }
    .top-section {
        padding: 1rem;
        height: 20rem;
    }
    #newsletter-input {
        height: 2rem;
        width: 100%;
        margin: 0 0 1rem 0;
    }
    .infos-footer, .social-media {
        padding: 1rem;
        width: 40%;
    }
}

/* Pour les petits ecrans */

@media screen and (max-width: 600px) {
    .bottom-section {
        padding: 1rem;
        justify-content: space-between;
    }
    .bottom-section>* {
        width: calc(100% / 3);
    }
    .bottom-section ul:not(.center) {
        flex-direction: column;
    }
    .bottom-section li {
        margin-bottom: 1rem;
        text-align: left;
        width: 100%;
    }
    .bottom-section .center li {
        align-self: center;
        text-align: center;
        transform: scale(1.7, 1.7);
    }
    .infos-footer, .social-media {
        width: 50%;
    }
    .social-media ul li {
        margin-bottom: 1.3rem;
    }
    .top-section {
        padding: 0;
    }
    /* On supprime les animations du footer sur les petits ecrans */
    footer a>span:not(.btn-remonter)::after {
        content: "";
        position: static;
    }
    footer a>span:hover:not(.btn-remonter)::after, footer a:focus:not(.btn-remonter)::after {
        transform: none;
    }
    a[href="#menu-navigation"] img:hover, a[href="#menu-navigation"] img:focus {
        transform: none;
    }
    .social-media li img:hover, .social-media li img:focus {
        transform: none;
    }
    #newsletter-submit:hover, #newsletter-submit:focus {
        transform: none;
    }
}

/* Equipe */

.image_team {
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: space-around;
}

li p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#team h2 {
    text-align: center;
    margin-bottom: 5rem;
    color: #BBE2F2;
    font-size: 3em;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}

#team {
    display: grid;
    width: 60%;
    margin: 0 auto;
    padding: 9rem 0;
}

#team ul li {
    margin-top: 1rem;
}

#team ul p {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#team ul p a {
    margin: 0 .4rem;
}

li {
    list-style: none;
}

.block1, .block2, .block3, .block4 {
    padding: 1rem 0;
    background: #bbe2f2;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(202, 202, 202);
    transition: transform 250ms ease;
}

#team>div:hover, #team>div:focus {
    transform: scale(1.02, 1.02);
}

.block1 {
    grid-column: 1;
    grid-row: 2;
}

.block2 {
    grid-column: 3;
    grid-row: 2;
}

#seal {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    justify-self: center;
}

.block3 {
    grid-column: 1;
    grid-row: 4;
}

.block4 {
    grid-column: 3;
    grid-row: 4;
}

.image_team {
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
}

.image_team+ul li a img {
    transition: transform 250ms ease;
}

.image_team+ul li a img:hover, .image_team+ul li a img:focus {
    transform: scale(1.2, 1.2);
}

#seal {
    width: 150px;
    height: 250px;
}

/*Design Responsif*/

/*Grand mobile & Tablette*/

@media only screen and (max-width: 800px) {
    #team {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;
        width: 100%;
    }
    .block1, .block2, .block3, .block4 {
        border: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: none;
        box-shadow: none;
    }
    #team ul li p a {
        transform: scale(1.2, 1.2);
    }
    .image_team {
        margin: 0;
        width: 210px;
        height: 210px;
    }
    #seal {
        display: none;
    }
    .image_team+ul li a img:hover, .image_team+ul li a img:focus {
        transform: scale(1, 1);
    }
    #team>div:hover, #team>div:focus {
        transform: scale(1, 1);
    }
}

/* Formulaire de contact */

#formulaire {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 9rem auto;
}

#formulaire h2 {
    margin-bottom: 2rem;
}

#formulaire>div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#formulaire>div>div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#formulaire label {
    margin-bottom: .4rem;
}

#formulaire>div input {
    margin-bottom: 1rem;
    font-size: 1rem;
    height: 2rem;
    padding: 0 .4rem;
}

#formulaire input[type="submit"] {
    width: 10rem;
    margin: 1rem auto !important;
}

#formulaire input[type="submit"]+p {
    margin-top: 1rem;
    font-size: .88rem;
}

#formulaire span {
    color: red;
}

textarea {
    resize: none;
    padding: .4rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1300px) {
    #formulaire {
        width: 90%;
        margin: 5rem auto;
    }
    #formulaire>div {
        flex-direction: column;
    }
    #formulaire>div>div {
        width: 100%;
    }
}

/* Grille tarifaire */

#tarif {
    background: #BBE2F2;
    padding: 5rem 0;
}

.bloc_tarif_h2 {
    padding: 2%;
    font-size: 3rem;
    text-align: center;
    color: var(--clr-bg);
}

.tarif_contenant {
    background-color: #bbe2f2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div[class*=tarif_content_bloc] {
    background-color: white;
    flex: 0 1.5 400px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px #92afbb;
    transition: transform 250ms ease;
}

div[class*=tarif_content_bloc]:hover, div[class*=tarif_content_bloc]:focus {
    transform: scale(1.02, 1.02);
}

.tarif_1, .tarif_2, .tarif_3 {
    margin: 5%;
    min-height: 350px;
    position: relative;
}

.tarif_1_titre, .tarif_2_titre, .tarif_3_titre {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5%;
    background: #2c3f59;
    color: #fff;
    border-radius: 10px;
}

.tarif_img_1, .tarif_img_2, .tarif_img_3 {
    height: 80px;
    width: 80px;
    float: left;
    margin: 2%;
    margin-right: 5%;
    position: relative;
    top: 10px;
}

.tarif_1_contenu, .tarif_2_contenu, .tarif_3_contenu {
    padding: 5%;
    padding-right: 0;
}

.tarif_1_price, .tarif_2_price, .tarif_3_price {
    text-align: center;
    font-size: 2rem;
    width: 240px;
    font-weight: bold;
    color: var(--clr-bg);
    position: absolute;
    bottom: 5%;
    left: calc(50% - 120px);
}

img[class*="tarif_mark"] {
    height: 25px;
    width: 25px;
}

.tarif_list {
    max-height: 100%;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
}

.tarif_list li {
    display: flex;
    justify-content: space-between;
}

.tarif_mark {
    display: flex;
    flex-direction: column;
}

.tarif_content_bloc1, .tarif_content_bloc2, .tarif_content_bloc3 {
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tarif_btn_1, #tarif_btn_2, #tarif_btn_3 {
    margin-top: 5%;
}

/*Début news */

.contenubis h2 {
    color: #BBE2F2;
    font-size: 2em;
}

.contenubis {
    display: grid;
    width: 100%;
    padding: 8rem 10%;
    grid-gap: 15px;
    grid-row-gap: 30px;
    background: #BBE2F2;
}

#img-1, #img-2, #img-3 {
    max-width: 100%;
    height: auto;
    width: 545px;
    height: 300px;
    align-self: center;
    margin: auto;
}

#img-1 {
    grid-column: 1;
    grid-row: 1;
}

#img-2 {
    grid-column: 3;
    grid-row: 2;
}

#img-3 {
    grid-column: 1;
    grid-row: 3;
}

.part1 {
    grid-column: 3;
    grid-row: 1;
}

.part2 {
    grid-column: 1;
    grid-row: 2;
}

.part3 {
    grid-column: 3;
    grid-row: 3;
}

.barre, .barre1, .barre2 {
    background-color: #BBE2F2;
    width: 5px;
    margin-right: 20px;
    height: 100%;
    align-self: center;
}

.barre {
    grid-column: 2;
    grid-row: 2;
}

.barre1 {
    grid-column: 2;
    grid-row: 1;
}

.barre2 {
    grid-column: 2;
    grid-row: 3;
}

/*Contenu-bis responsif*/

@media only screen and (max-width: 800px) {
    .bloc_tarif_h2 {
        font-size: 2.3rem;
    }
    .contenubis {
        display: block;
        padding: 5%;
        margin: 0;
        width: 100%;
    }
    .part1, .part2 {
        padding-bottom: 15%;
    }
    #img-1, #img-3 {
        position: relative;
        float: left;
        margin-right: 5%;
    }
    #img-2 {
        position: relative;
        float: right;
        margin-left: 5%;
    }
    .contenubis h2 {
        padding-bottom: 2%;
    }
    div[class*=tarif_content_bloc]:hover, div[class*=tarif_content_bloc]:focus {
        transform: scale(1, 1);
    }
    .btn-perso:hover, .btn-perso:focus {
        transform: scale(1, 1);
    }
}