/* On definit les styles de base et les variables css pour les couleurs et fonts */

:root {
    --clr-bg: #2c3f59;
    --clr-acc: #f2b035;
    --clr-txt: #fff;
    --ft-title: ;
    --ft-txt: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: var(--ft-txt);
}

h1, h2, h3 {
    font-family: var(--ft-title);
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.top-section h2 {
    margin-bottom: 1rem;
}

/* Permet d'effacer la outline presente sur Firefox */

:-moz-focusring {
    outline: none;
}

/* Menu de navigation */

nav {
    position: sticky;
    z-index: 3;
    top: 0;
    width: 100%;
    /* height: 80px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .6rem;
    align-items: center;
    background-color: var(--clr-bg);
    color: var(--clr-txt);
}

.menu_burger {
    display: none;
}

nav li {
    color: var(--clr-txt);
    margin: 0 1rem;
}

nav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    position: relative;
    color: var(--clr-txt);
}

nav ul a:not(.logo, .lang-button)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1.5px;
    background: var(--clr-txt);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 250ms ease-in;
}

nav ul a:hover::after, nav ul a:focus::after {
    transform: scaleX(1);
    outline: none;
}

#logo {
    margin: 10px;
}

@media screen and (max-width: 800px) {
    .menu_burger {
        min-width: 35px;
        height: 40px;
        cursor: pointer;
        position: relative;
        display: block;
    }
    nav ul {
        display: none;
    }
    .menu_burger span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 4px;
        transition: background-color 0.5s ease-in-out;
    }
    .menu_burger span:before, .menu_burger span:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 4px;
        transition: transform 0.5s ease-in-out;
    }
    .menu_burger span:before {
        transform: translateY(-10px);
    }
    .menu_burger span:after {
        transform: translateY(10px);
    }
    .menu_burger.active span {
        background-color: transparent;
    }
    nav .logo {
        display: none;
    }
    nav>span {
        visibility: hidden;
    }
    nav>ul {
        visibility: hidden;
    }
    nav>li {
        visibility: hidden;
    }
    .lang-button {
        visibility: visible;
    .menu_burger.menu_burger_active span {
        background-color: transparent;
    }
    .menu_burger.menu_burger_active span:before {
        transform: translateY(0px) rotateZ(45deg);
    }
    .menu_burger.menu_burger_active span:after {
        transform: translateY(0px) rotateZ(-45deg);
    }
    .contenu_active {
        display: flex;
    }
}

/* Slideshow */

#slideshow {
    width: 100%;
    height: calc(100vh - 73.2px);
}

#slideshow button {
    width: 15rem;
    height: 3rem;
    font-size: 1.2rem;
    position: absolute;
    top: 90%;
    left: calc(50% - 7.5rem);
    background: var(--clr-acc);
    border: none;
    transition: transform 250ms ease;
    cursor: pointer;
}

#slideshow button:hover, #slideshow button:focus {
    transform: scale(.9, .9);
}

.slideshow-img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: relative;
    animation: animateright 2s;
}

@keyframes animateright {
    from {
        right: -100vw;
    }
    to {
        right: 0;
    }
}

/* Presentation */

.title_pres h1 {
    text-align: center;
    margin-top: 50px;
}

.title_pres h2 {
    text-align: center;
    margin-top: 30px;
}

.presentation {
    margin: auto;
    width: 90%;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 15px;
}

#img_pres1, #img_pres2, #img_pres3 {
    width: 150px;
    height: 150px;
    align-self: center;
    margin: auto;
}

.barre_pres1, .barre_pres2 {
    background-color: #BBE2F2;
    width: 100%;
    height: 5px;
    margin-right: 20px;
    align-self: center;
}

.presentation1 {
    display: grid;
    grid-template-columns: repeat(20, 60px);
    grid-template-rows: repeat(3, 75px);
    margin-bottom: 20px;
}

.text_presentation1 {
    grid-column-start: 4;
    grid-column-end: 16;
    grid-row-start: 2;
    grid-row-end: 4;
}

.img_presentation1 {
    grid-column-start: 17;
    grid-column-end: 20;
    grid-row-start: 1;
    grid-row-end: 4;
}

.barre_pres1 {
    grid-column-start: 7;
    grid-column-end: 19;
    grid-row-start: 4;
    grid-row-end: 4;
}

.presentation2 {
    display: grid;
    grid-template-columns: repeat(20, 60px);
    grid-template-rows: repeat(4, 75px);
}

.text_presentation2 {
    grid-column-start: 8;
    grid-column-end: 20;
    grid-row-start: 3;
    grid-row-end: 3;
}

.img_presentation2 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.barre_pres2 {
    grid-column-start: 5;
    grid-column-end: 19;
    grid-row-start: 5;
    grid-row-end: 5;
}

.presentation3 {
    display: grid;
    grid-template-columns: repeat(20, 60px);
    grid-template-rows: repeat(4, 75px);
}

.text_presentation3 {
    grid-column-start: 4;
    grid-column-end: 16;
    grid-row-start: 3;
    grid-row-end: 4;
}

.img_presentation3 {
    grid-column-start: 17;
    grid-column-end: 20;
    grid-row-start: 2;
    grid-row-end: 4;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #2c3f59;
    color: var(--clr-txt);
}

footer img {
    width: 1.5rem;
}

/* Partie haute du footer (informations et reseaux sociaux) */

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    height: 13rem;
}

/* Informations */

.infos-footer {
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
    border-right: 1px solid var(--clr-txt);
    width: 25%;
    height: 100%;
}

/* Formulaire Newsletter */

.infos-footer form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.infos-footer form div {
    display: flex;
    flex-direction: row;
}

#newsletter-input {
    margin: 0 1rem 0 0;
    border: 1px solid #fff;
    font-size: .9rem;
    padding: 0 .4rem;
    width: 100%;
}

:required {
    box-shadow: none;
}

#newsletter-submit {
    margin: 0;
    background: var(--clr-acc);
    border: none;
    padding: .5rem 1.5rem;
    color: #000;
    font-size: .9rem;
    transition: transform 250ms ease;
    cursor: pointer;
}

#newsletter-submit:hover, #newsletter-submit:focus {
    transform: scale(0.9, 0.9);
}

/* Reseaux sociaux */

.social-media {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    border-left: 1px var(--clr-txt) solid;
    width: 25%;
    height: 100%;
}

.social-media li a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.social-media li img {
    margin-right: 1rem;
    transition: transform 150ms ease;
}

.social-media li img:hover, .social-media li img:focus {
    transform: scale(1.2, 1.2);
}

/* On applique une marge en bas a tout les elements de la section haute du footer sauf: div, h2, ul, form */

.top-section *:not(div, h2, ul, form) {
    margin-bottom: .4rem;
}

/* Partie basse du footer (mentions legales, CGV) */

.bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0;
}

.bottom-section>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bottom-section li {
    width: 40%;
    text-align: center;
}

.bottom-section>* {
    width: calc(100% / 3);
    text-align: center;
}

.bottom-section .center {
    width: 20%;
}

/* Bouton pour remonter en haut de la page */

a[href="#menu-navigation"] img {
    filter: invert(100%);
    transition: transform 250ms ease;
    transform-origin: bottom;
}

a[href="#menu-navigation"] img:hover, a[href="#menu-navigation"] img:focus {
    transform: translateY(-.3rem);
    transform-origin: top;
}

/* Bordure annimée sur les liens */

footer a>span {
    position: relative;
    color: var(--clr-txt);
}

footer a>span:not(.btn-remonter)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1.5px;
    background: var(--clr-txt);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

footer a>span:hover:not(.btn-remonter)::after, footer a:focus:not(.btn-remonter)::after {
    transform: scaleX(1);
    transform-origin: left;
    outline: none;
}

/* Medias queries pour differentes tailles d'ecran */

/* Pour les tailles intermediaires */

@media screen and (max-width: 1300px) {
    .infos-footer form div {
        flex-direction: column;
    }
    .top-section {
        padding: 1rem;
        height: 20rem;
    }
    #newsletter-input {
        height: 2rem;
        width: 100%;
        margin: 0 0 1rem 0;
    }
    .infos-footer, .social-media {
        padding: 1rem;
        width: 40%;
    }
}

/* Pour les petits ecrans */

@media screen and (max-width: 600px) {
    .bottom-section {
        padding: 1rem;
        justify-content: space-between;
    }
    .bottom-section>* {
        width: calc(100% / 3);
    }
    .bottom-section ul:not(.center) {
        flex-direction: column;
    }
    .bottom-section li {
        margin-bottom: 1rem;
        text-align: left;
        width: 100%;
    }
    .bottom-section>*:nth-child(2) {
        align-self: center;
        text-align: center;
        transform: scale(1.7, 1.7);
    }
    .infos-footer, .social-media {
        width: 50%;
    }
    .top-section {
        padding: 0;
    }
    /* On supprime les animations du footer sur les petits ecrans */
    footer a>span:not(.btn-remonter)::after {
        content: "";
        position: static;
    }
    footer a>span:hover:not(.btn-remonter)::after, footer a:focus:not(.btn-remonter)::after {
        transform: none;
    }
    a[href="#menu-navigation"] img:hover, a[href="#menu-navigation"] img:focus {
        transform: none;
    }
    .social-media li img:hover, .social-media li img:focus {
        transform: none;
    }
    #newsletter-submit:hover, #newsletter-submit:focus {
        transform: none;
    }
}

/* Adaptation pour le print */

@media print {}

/* Equipe */

#img1, #img2, #img3, #img4 {
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: space-around;
}

li p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title_team h2 {
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    color: #BBE2F2;
    font-size: 2em;
}

#team {
    display: grid;
    width: 60%;
    margin: auto;
}

li {
    list-style: none;
}

.title_team {
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}

.block1, .block2, .block3, .block4 {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #BBE2F2;
}

.block1 {
    grid-column: 1;
    grid-row: 2;
}

.block2 {
    grid-column: 3;
    grid-row: 2;
}

.logo {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
}

.block3 {
    grid-column: 1;
    grid-row: 4;
}

.block4 {
    grid-column: 3;
    grid-row: 4;
}

.image_circle {
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
}

.image_circle+ul li a img {
    transition: transform 250ms ease;
}

.image_circle+ul li a img:hover, .image_circle+ul li a img:focus {
    transform: scale(1.2, 1.2);
}

#seal {
    width: 150px;
    height: 250px;
}

/*Design Responsif*/

/*Grand mobile & Tablette*/

@media only screen and (max-width: 800px) {
    .title_team {
        grid-column: 1;
        grid-row: 1;
    }
    .block1 {
        grid-column: 1;
        grid-row: 2;
        margin-top: 20px;
    }
    .block2 {
        grid-column: 1;
        grid-row: 3;
    }
    #seal {
        display: none;
    }
    .block3 {
        grid-column: 1;
        grid-row: 4;
    }
    .block4 {
        grid-column: 1;
        grid-row: 5;
    }
    #team {
        display: grid;
        width: 40%;
        margin: auto;
        grid-gap: 1em;
    }
    .title_team h2 {
        text-align: center;
        margin: auto;
    }
}

/*Petit mobile / montre */

@media only screen and (max-width: 540px) {
    #team {
        width: 55%;
    }
}

/* Formulaire de contact */

#formulaire {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 1rem auto;
}

#formulaire h2 {
    margin-bottom: 2rem;
}

#formulaire>div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#formulaire>div>div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#formulaire label {
    margin-bottom: .4rem;
}

#formulaire>div input {
    margin-bottom: 1rem;
    font-size: 1rem;
    height: 2rem;
    padding: 0 .4rem;
}

#formulaire input[type="submit"] {
    width: 10rem;
    font-size: .9rem;
    margin: 0;
    background: var(--clr-acc);
    border: none;
    padding: .5rem 1.5rem;
    color: #000;
    transition: transform 250ms ease;
    cursor: pointer;
    margin: 1rem auto;
}

#formulaire input[type="submit"]:hover, #formulaire input[type="submit"]:focus {
    transform: scale(.9, .9);
}

#formulaire span {
    color: red;
}

textarea {
    resize: none;
    padding: .4rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1300px) {
    #formulaire {
        width: 90%;
    }
    #formulaire>div {
        flex-direction: column;
    }
    #formulaire>div>div {
        width: 100%;
    }
}

/* Grille tarifaire */

.bloc_tarif_h2 {
    margin: 5%;
    font-size: 32px;
}

.tarif_contenant {
    background-color: pink;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div[class*=tarif_content_bloc] {
    background-color: white;
    flex: 0 1.5 400px;
    margin: 20px;
    padding-bottom: 2%;
}

.tarif_1, .tarif_2, .tarif_3 {
    border: solid black 1px;
    border-radius: 10px;
    padding: 5%;
    min-height: 350px;
    position: relative;
}

.tarif_1_titre, .tarif_2_titre, .tarif_3_titre {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5%;
}

.tarif_img_1, .tarif_img_2, .tarif_img_3 {
    height: 80px;
    width: 80px;
    float: left;
    margin: 2%;
    margin-right: 5%;
    position: relative;
    top: 10px;
}

.tarif_1_contenu, .tarif_2_contenu, .tarif_3_contenu {
    line-height: 1.4;
    padding: 5%;
    padding-right: 0;
}

.tarif_1_price, .tarif_2_price, .tarif_3_price {
    text-align: center;
    font-size: 20px;
    width: 200px;
    font-weight: bold;
    position: absolute;
    bottom: 5%;
    left: calc(50% - 100px);
}

img[class*="tarif_mark"] {
    height: 25px;
    width: 25px;
}

.tarif_list {
    max-height: 100%;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
}

.tarif_list li {
    display: flex;
    justify-content: space-between;
}

.tarif_mark {
    display: flex;
    flex-direction: column;
}

.tarif_content_bloc1, .tarif_content_bloc2, .tarif_content_bloc3 {
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tarif_btn_1, #tarif_btn_2, #tarif_btn_3 {
    margin-top: 5%;
    background: var(--clr-acc);
    border: none;
    padding: .5rem 1.5rem;
    color: #000;
    font-size: .9rem;
    transition: transform 250ms ease;
    cursor: pointer;
}

#tarif_btn_1:hover, #tarif_btn_1:focus {
    transform: scale(0.9, 0.9);
}

/*Début contenuebis */

.contenubis h2 {
    color: #BBE2F2;
    font-size: 2em;
}

.contenubis {
    display: grid;
    width: 60%;
    margin: auto;
    grid-gap: 15px;
    grid-row-gap: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#img-1, #img-2, #img-3 {
    width: 150px;
    height: 150px;
    align-self: center;
    margin: auto;
}

#img-1 {
    grid-column: 1;
    grid-row: 1;
}

#img-2 {
    grid-column: 3;
    grid-row: 2;
}

#img-3 {
    grid-column: 1;
    grid-row: 3;
}

.part1 {
    grid-column: 3;
    grid-row: 1;
}

.part2 {
    grid-column: 1;
    grid-row: 2;
}

.part3 {
    grid-column: 3;
    grid-row: 3;
}

.barre, .barre1, .barre2 {
    background-color: #BBE2F2;
    width: 5px;
    margin-right: 20px;
    height: 100%;
    align-self: center;
}

.barre {
    grid-column: 2;
    grid-row: 2;
}

.barre1 {
    grid-column: 2;
    grid-row: 1;
}

.barre2 {
    grid-column: 2;
    grid-row: 3;
}

/*Contenu-bis responsif*/

@media only screen and (max-width: 800px) {
    .contenubis {
        display: block;
        padding: 5%;
        margin: 0;
        width: 100%;
    }
    .part1, .part2, .part3 {
        padding-bottom: 15%;
    }
    #img-1, #img-3 {
        position: relative;
        float: left;
        margin-right: 5%;
    }
    #img-2 {
        position: relative;
        float: right;
        margin-left: 5%;
    }
    .contenubis h2 {
        padding-bottom: 2%;
    }
